@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?jo2z5t');
    src:    url('fonts/icomoon.eot?jo2z5t#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?jo2z5t') format('truetype'),
        url('fonts/icomoon.woff?jo2z5t') format('woff'),
        url('fonts/icomoon.svg?jo2z5t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
    content: "\e939";
}

.icon-image:before {
    content: "\e95e";
}

.icon-mail:before {
    content: "\e96f";
}

.icon-phone:before {
    content: "\e993";
}

.icon-whatsapp:before {
    content: "\1f597";
}

.icon-pin:before {
    content: "\e995";
}

.icon-window:before {
    content: "\e9e2";
}
