@model michealogundero.Controllers.HomeController

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body id="top">
    <div id="snow">


        <!-- intro section
        ================================================== -->
        <section id="intro">

            <div class="intro-overlay"></div>

            <div class="intro-content">
                <div class="row">

                    <div class="col-twelve">

                        <h5>Hello, World.</h5>
                        <h1>I am Micheal Ayodeji OGUNDERO.</h1>

                        <p class="intro-position">
                            <span>Software Engineer</span>
                            <span>Musicologist</span>
                        </p>

                        <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

                    </div>

                </div>
            </div> <!-- /intro-content -->

            <ul class="intro-social">
                <li><a target="_blank" href="https://github.com/EngrMikolo"><i class="fa fa-github"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/micheal-ogundero-33641478/"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/micheal__og"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCduDXRFG0_AO94go7WMBNkA/videos"><i class="fa fa-youtube"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/micheal__og/"><i class="fa fa-instagram"></i></a></li>
            </ul> <!-- /intro-social -->

        </section>
    </div>
    <!-- /intro -->
    <!-- about section
    ================================================== -->
    <section id="about">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>About</h5>
                <h1>Here's A Little About Me.</h1>


                <div class="row">
                    <div class="col-four"><img style=" width:100%;height: 100%; border-radius: 50%;" src="~/images/potrait.jpg" alt="Profile Picture"></div>
                    <div class="col-eight">
                        Experienced and top-performing IT professional with over 6 years of experience in full stack software engineering, development, programming, quality assurance, support and implementation in the ecommerce and fintech industries. 
                        Designing and developing intuitive full-stack enterprise web applications with contribution to software architecture design, requirements gathering, technical specification, applying solid design principles and software design patterns across multiple technology stacks and promoting software engineering best practices. 
                        Deep programming language knowledge with working knowledge of the general mobile landscape, architectures, trends, and emerging technologies; solid understanding of the full mobile development life cycle; critical thinker and problem-solving skills.
                    </div>
                </div>



                @*<div class="lead">
                        An ASP.NET MVC and ASP.NET Core backend software engineer with proficient skills in software development, architectural design and documentation. Worked with multinationals in ecommerce and fintech. Currently freelances and offers teaching and mentoring services to young/aspiring software developers. Always ready to work in teams to build viable products.
                    </div>*@


            </div>
        </div> <!-- /section-intro -->

        <div class="row about-content">

            <div class="col-six tab-full">

                <h3>Web Development Skills</h3>
                <p>I am highly skilled in different web development frameworks, packages and programming languages. Some of them are: </p>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent100"></div>
                        <strong>ASP.NET CORE</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>MICROSOFT SQL</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>Javascript</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>HTML5</strong>
                    </li>
                    
                </ul>

            </div>

            <div class="col-six tab-full">

                <h3></h3>
                <p></p>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent100"></div>
                        <strong>CSS3</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>NODE.JS</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>JQuery</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>MATLAB</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>NestJS</strong>
                    </li>
                    <li>
                        <div class="progress percent100"></div>
                        <strong>Python</strong>
                    </li>

                </ul> <!-- /skill-bars -->

            </div>

        </div>

        <div class="row button-section">
            <div>

                <a href="/home/downloadresumedocx" title="Download DOCX" class="button button-primary">Download CV DOCX</a>
                <a href="/home/downloadresumepdf" title="Download PDF" class="button button-primary">Download CV PDF</a>

            </div>
            <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
        </div>


    </section> <!-- /process-->
    <!-- resume Section
    ================================================== -->
    <section id="resume" class="grey-section">

        <div class="row section-intro">
            <div class="col-twelve resume-header">

                <h2>Resume</h2>

                <p class="lead">My past projects, work experiences, eduaction, and other qualifications are summarized below.</p>

            </div>
        </div> <!-- /section-intro-->

        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Work Experience</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Senior Software Engineer</h3>
                            <p>January 2022 - Till date</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Syarpa, UK/Nigeria</h4>
                            <p>
                                <a href="syarpa.com">Syarpa</a> is a private limited company incoprporated in the United Kingdom and registered in Nigeria as Syarpa Digital Solutions.<br>
                                Tech: Asp.Net Core, NodeJs, NestJs, Express, MSSQL, PostgreSQL, ClickUp<br>
                                Roles and Responsibilities:<br>
                                &bull; Participates in technical specification and software architecture design<br>
                                &bull; Documents and demonstrates solutions by developing documentation, flowcharts, layouts, diagrams, charts, code comments and clear code.<br>
                                &bull; Designs and updates software using collected data, systems analysis and prior bug reports.<br>
                                &bull; Confers with management teams regarding user reports to personalize software and increase productivity.<br>
                                &bull; Handles payments processes (both crypto and fiat) on the platform.<br>
                                &bull; Built the microservice to manually manage exchange rates on the website with NodeJS/NestJS framework.<br>
                            </p>
                        </div>

                    </div>

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Lecturer in Systems Engineering</h3>
                            <p>October 2019 - Till date</p>
                        </div>

                        <div class="timeline-content">
                            <h4>University of Lagos, Akoka, Yaba, Lagos</h4>
                            <p>
                                I teach undergraduate courses in Image processing, Algorithms and Data Structures, Engineering Computing, Engineering Statistics, Introduction to Robotics, Introduction to Ordinary Differential Equations, Numerical Methods, Engineering Computer Graphics.<br>
                                Managing and overseeing activities at the computational laboratory: Teaching MATLAB and Mathematica.
                            </p>
                        </div>

                    </div>

                    

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Software Engineer</h3>
                            <p>May 2021 - December 2021 </p>

                        </div>

                        <div class="timeline-content">
                            <h4>The Bulb Africa, 39, Ikorodu Road, Jibowu, Yaba, Lagos</h4>
                            <p>
                                <a href="https://thebulb.africa/">The Bulb Africa</a> is a platform for Africans leveraging on technology.
                                They support entrepreneurs and startups with incubation and acceleration programs which allow them to turn ideas into business realities.<br>
                                Tech: Asp.Net Core, MSSQL, AWS, SignalR, HangFire, Jira<br>
                                Roles and Responsibilities:<br>
                                &bull; Worked with project & product managers, QA Engineers to own solution from development to production<br>
                                &bull; Implemented signalR and Redis to effectively handle real-time communication between the backend-service and the mobile app. <br>
                                &bull; Handled bill payments, airtime and data recharge integrations with different service providers.<br>
                                &bull;  Developed the settl.me USSD application that allows users to create account, pay bills, buy airtime, request money, transfer money and perform some other functions via a USSD channel.<br>
                                &bull; Tracked, documented, and maintained software and network system functionality—both internally and externally, leveraging opportunities to improve engineering productivity.<br>
                                &bull; Handled bEngaged in software testing to identify defects early in the development process and ensure quality assurance.<br>
                            </p>
                        </div>

                    </div>

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Contract Software Engineer</h3>
                            <p>February 2021 - July 2021</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Syarpa, UK/Nigeria</h4>
                            <p>
                                <a href="syarpa.com">Syarpa</a> is a private limited company incoprporated in the United Kingdom and registered in Nigeria as Syarpa Digital Solutions.<br>
                                Works on the following microservices at the backend<br>
                                Tech: Asp.Net Core, NodeJs, NestJs, Express, MSSQL, PostgreSQL<br>
                                Roles and Responsibilities:<br>
                                &bull; Developed key components to support identity, authentication, and mobile engagement features.<br>
                                &bull; Managed and spearheaded all OTP requests and validation processes for login, transactions and two-FA.<br>
                                &bull; Worked with Coinbase API and AbokiFx API to fetch current exchange rates and also integrated Stripe and Circle APIs to handle payout to customers.<br>
                                &bull; Involved in the authentication, identification and documentation of verification processes and implemented integrations with Flutterwave & Loqate for Nigeria and UK accounts validation respectively.<br>
                            </p>
                        </div>

                    </div>


                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Contract Software Engineer</h3>
                            <p>December 2020 - March 2021</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Polaris Bank Ltd, Victoria Island, Nigeria.</h4>
                            <p>
                            Tech: Asp.Net MVC 5, Asp.Net Core, MSSQL<br>
                                Roles and Responsibilities:<br>
                                &bull; Refactored some processes between Polaris bank and NIBBS for inward and outward transfers to the bank.<br>
                                &bull;  Assessed customer and internal project requirements to execute new accessories and modify all existing solutions.<br>
                                &bull; Maintained knowledge of technologies which cover API specification, Financial Information Exchange and latest developments. <br>
                                &bull; Ensured optimal knowledge on all bank trading process and ensure speedy development and reliable service and acceleration of product quality.<br>
                            </p>
                        </div>

                    </div>
                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Software Engineering Consultant</h3>
                            <p>April 2019 - February 2020</p>
                        </div>

                        <div class="timeline-content">
                            <h4>
                                “CerviTech” Mobile Application, University of Lagos, Akoka, Nigeria.
                            </h4>
                            <p>
                            This project involves the building of a mobile application that monitors the neck angle of a user relative to the position of the phone while in use. This application makes use of the phone accelerometer and gyroscope to calculate the tilt angle of the phone. It also sends regular push notifications to the users on how they have improved over time with the use of the application. The user can also set daily average neck angle goal. The mobile app can be downloaded via this link: https://www.cervitech.com.ng/<br>
                            Roles and Responsibilities:<br>
                                &bull; Participated in the complete Software Development Life Cycle (SDLC) for development, testing, and code enhancement.<br>
                                &bull; Wrote technical specifications and maintained all reports about application development processes.<br>
                                &bull; Implemented FCM push notification feature.<br>
                                &bull;  Supervised and managed other software developers and also worked as the lead backend developer. <br>
                                &bull; Worked with team members to gain further platform understandings and debugging.<br>
                            </p>
                        </div>

                    </div>
                    <!-- /timeline-block -->
                    @*<div class="timeline-block">

                            <div class="timeline-ico">
                                <i class="fa fa-briefcase"></i>
                            </div>

                            <div class="timeline-header">
                                <h3>Assistant Lecturer</h3>
                                <p>October 2019 - Till Date</p>
                            </div>

                            <div class="timeline-content">
                                <h4>Department of Systems Engineering, University of Lagos, Akoka-Yaba, Lagos.</h4>
                                <p>
                                    Assisting senior lecturers in teaching undergraduate courses (like algorithms & data structures, computer graphics, image processing, ordinary differential equation etc),
                                    research and development
                                </p>
                            </div>

                        </div>  /timeline-block

                        <div class="timeline-block">

                            <div class="timeline-ico">
                                <i class="fa fa-briefcase"></i>
                            </div>

                            <div class="timeline-header">
                                <h3>Graduate Assistant</h3>
                                <p>April 2018 - September 2019</p>
                            </div>

                            <div class="timeline-content">
                                <h4>Department of Systems Engineering, University of Lagos, Akoka-Yaba, Lagos.</h4>
                                <p>
                                    Assisting senior lecturers in teaching undergraduate courses, some of which are Image processing, computer graphics, engineering computing, engineering statistics, introduction to robotics, introduction to ordinary differential equations.
                                    Managing and overseeing activities at the computational laboratory
                                </p>
                            </div>

                        </div>  /timeline-block*@

                    @*<div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Senior Backend-Software Engineer</h3>
                            <p>December 2017 - April 2018</p>
                        </div>

                        <div class="timeline-content">
                            <h4>wallets.africa, Ogudu GRA Lagos.</h4>
                            <p>
                                &bull; Integrated different financial services including Providus bank, GTCollection USSD integration, GTBank Automated Payment System (GAPS) Webservice and also Quickteller.<br>
                                &bull; Automated clients' settlement process using ‘hangfire’<br>
                                &bull; Regularly deployed on Microsoft Azure Virtual Machines.<br>
                                &bull; Wrote and managed endpoints consumed by the Wallet mobile apps.<br>
                                &bull; Monitored all transactions at the backend.<br>
                                &bull; Managed the <a href="https://www.wallet.ng,">wallet.ng</a> website, and content management system.<br>
                            </p>
                        </div>

                    </div>*@ <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Software Engineer</h3>
                            <p>January 2018 - August 2018</p>
                        </div>

                        <div class="timeline-content">
                            <h4>wallets.africa, Ogudu GRA Lagos.</h4>
                            <p>
                            <a href="www.wallets.africa">Wallets Africa</a> is a digital financial platform building Africa’s foremost borderless digital financial platform for a new generation of Africans and visitors to the continent.<br>
                            Tech: Asp.Net Core, Azure, MSSQL, JQuery, Trello<br>
                            Roles and Responsibilities:<br>
                                &bull; Co-designed the database architecture and also built backend services that handle user managements and payment transactions.<br>
                                &bull; Integrated different payment gateways like Quickteller and Flutterwave on the platform to process payment. <br>
                                &bull; Implemented Barter Cards services to manage virtual dollar cards for consumers.<br>
                                &bull; Handled deployment of services on Microsoft azure machines.<br>
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                    @*<div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Software Engineer</h3>
                            <p>January 2015 - May 2017</p>
                        </div>

                        <div class="timeline-content">
                            <h4>SureGifts NG, Lekki, Lagos.</h4>
                            <p>
                                &bull; Managed the content management system and websites for <a href="www.suregifts.com.ng">SureGifts Nigeria</a> and <a href="https://www.suregifts.co.ke">Kenya</a><br>
                                &bull; Worked in a team to decouple the website into an API based system.<br>
                                &bull; Integrated payment platforms like Paystack and Paypal into the website.<br>
                                &bull; Regularly generated transactional reports from the database with SQL queries.<br>
                            </p>
                        </div>

                    </div>*@ <!-- /timeline-block -->
                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Software Engineer</h3>
                            <p>January 2016 - June 2017</p>
                        </div>

                        <div class="timeline-content">
                            <h4>SureGifts NG, Lekki, Lagos.</h4>
                            <p>
                            SureBids is a retail voucher aggregator and provider in Africa. It is the first coordinated effort to introduce retail vouchers in Nigeria, with the focus on ease of redemption and simplicity.<br>
                            Tech: Asp.Net MVC 5, Azure, NodeJs, Express, MSSQL, JQuery, Trello<br>
                            Roles and Responsibilities:<br>
                                &bull; Ensured the best possible performance, quality, and responsiveness of applications.<br>
                                &bull;  Identified bottlenecks and bugs, and devised swift solutions to these problems.<br>
                                &bull; Translated product documents and sprints into functional applications. <br>
                                &bull; Authored technical documentation to assist other developers in understanding the implemented application architecture and design methods.<br>
                            </p>
                        </div>

                    </div>

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Undergraduate Intern</h3>
                            <p>September 2014 - January 2015</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Federal Airports Authority of Nigeria, MMIA, Ikeja, Lagos</h4>
                            <p>
                                @*Managing the content management system and website*@
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->

        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Education</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Master of Science in Systems Engineering</h3>
                            <p>2018 - 2019</p>
                        </div>

                        <div class="timeline-content">
                            <h4>University of Lagos, Akoka-Yaba, Lagos</h4>
                            <p>
                                I majored in Artificial Intelligence and Control systems engineering.
                                <br> Thesis: Response analysis of brainwaves due to thermal discomfort.
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Certificate of National Service</h3>
                            <p>2016 - 2017</p>
                        </div>

                        <div class="timeline-content">
                            <h4>National Youth Service Corps</h4>
                            <p>.</p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Bachelor of Science in Systems Engineering</h3>
                            <p>2010 - 2015</p>
                        </div>

                        <div class="timeline-content">
                            <h4>University of Lagos, Akoka-Yaba, Lagos</h4>
                            <p>
                                For this period of five (5) years, I was exposed to different computing and modelling softwares like Matlab, Mathematica, Autodesk Inventor and Fusion360
                                and took some interesting undergraduate courses in pure and applied mathematics, numerical analysis, operations research, artificial intelligence, simulation and modelling, industrial engineering
                                to mention but a few.
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>O' level certificte</h3>
                            <p>2004 - 2010</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Sanya Grammar School, Ijeshatedo, Lagos</h4>
                            <p>
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->


        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Other Qualifications</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    @*<div class="timeline-block">

            <div class="timeline-ico">
                <i class="fa fa-briefcase"></i>
            </div>

            <div class="timeline-header">
                <h3>Member</h3>
                <p>2018 - Present</p>
            </div>

            <div class="timeline-content">
                <h4>Academic Staff Union of Universities</h4>
                <p></p>
            </div>

        </div>*@ <!-- /timeline-block -->

                   <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3> <a href="https://www.udemy.com/certificate/UC-17db10eb-8127-46ba-b968-0b79793bc599/"> Docker and Kubernetes</a></h3>
                            <p>2022</p>
                        </div>

                        <div class="timeline-content">
                            <h4><a href="https://www.udemy.com/certificate/UC-17db10eb-8127-46ba-b968-0b79793bc599/">Udemy</a></h4>
                            <p>
                            </p>
                        </div>
                    </div> <!-- /timeline-block -->
        

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3> <a href="https://www.udemy.com/certificate/UC-92386462-2bee-40be-b771-ff68b68e6d14/">React Front To Back</a></h3>
                            <p>2022</p>
                        </div>

                        <div class="timeline-content">
                            <h4><a href="https://www.udemy.com/certificate/UC-92386462-2bee-40be-b771-ff68b68e6d14/">Udemy</a></h4>
                            <p>
                            </p>
                        </div>
                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3> <a href="https://www.udemy.com/certificate/UC-02a816af-7491-4d2b-ab87-ecbfc944ac10/"> Data Structures & Algorithms</a></h3>
                            <p>2022</p>
                        </div>

                        <div class="timeline-content">
                            <h4><a href="https://www.udemy.com/certificate/UC-02a816af-7491-4d2b-ab87-ecbfc944ac10/">Udemy</a></h4>
                            <p>
                            </p>
                        </div>
                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3> <a href="https://www.coursera.org/account/accomplishments/certificate/3FY7LE8G94GZ">Software Architecture</a></h3>
                            <p>2022</p>
                        </div>

                        <div class="timeline-content">
                            <h4><a href="https://www.coursera.org/account/accomplishments/certificate/3FY7LE8G94GZ">University of Alberta </a></h4>
                            <p>
                            </p>
                        </div>
                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3> <a href=" https://www.udemy.com/certificate/UC-c3d9cf78-6cd9-489a-8b87-1e5aa76c5eb6/">Serverless Framework: Node.js, AWS & Microservices</a></h3>
                            <p>2022</p>
                        </div>

                        <div class="timeline-content">
                            <h4><a href=" https://www.udemy.com/certificate/UC-c3d9cf78-6cd9-489a-8b87-1e5aa76c5eb6/">Udemy</a></h4>
                            <p>
                            </p>
                        </div>
                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3> <a href=" https://www.udemy.com/certificate/UC-2b06c57a-8ff1-45a5-9679-c26e1aae230e/">NestJs - Modern TypeScript Back-end Development</a></h3>
                            <p>2021</p>
                        </div>

                        <div class="timeline-content">
                            <h4> <a href=" https://www.udemy.com/certificate/UC-2b06c57a-8ff1-45a5-9679-c26e1aae230e/">Udemy</a></h4>
                            <p>
                            </p>
                        </div>
                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Ajax Design and Usability</h3>
                            <p>2016</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Interaction Design Foundation</h4>
                            <p>.</p>
                        </div>

                    </div> <!-- /timeline-block -->


                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>ABRSM Grade 5 Music Theory Certificate</h3>
                            <p>2015</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Associated Board of the Royal Schools of Music, UK</h4>
                            <p>
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->
        </div> <!-- /resume-timeline -->
    </section> <!-- /features -->
    <!-- Portfolio Section
    ================================================== -->
    <section id="portfolio">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Portfolio</h5>
                <h1>Check out some of my works.</h1>

                <p class="lead">Below are some of the applications I worked on as a Back-end Engineer.</p>

            </div>
        </div> <!-- /section-intro-->

        <div class="row portfolio-content">

            <div class="col-twelve">

                <!-- portfolio-wrapper -->
                <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <center><img height="400" width="380" src="images/portfolio/cervitech_rating.jpg" alt="Liberty"></center>
                            <a href="#modal-01" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">CerviTech</h3>
                                        <span class="folio-types">
                                            Mobile App
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- /folio-item -->

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <center><img height="480" width="384" src="images/portfolio/cervitech_profile.jpg" alt="cervitech"></center>
                            <a href="#modal-02" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">CerviTech</h3>
                                        <span class="folio-types">
                                            Mobile App
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <!-- /folio-item -->

                    <div class="bgrid folio-item">

                        <div style="margin-top:6px" class="item-wrap">

                            <iframe src="http://www.slideshare.net/slideshow/embed_code/key/sKGWt7kDxl9vjf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                            <div style="margin-bottom:6px">
                                <strong> <a href="#modal-03" title="Csharp_List" target="_blank">Csharp_List</a> </strong> from <strong><a href="//www.slideshare.net/MichealOgundero" target="_blank">Micheal Ogundero</a></strong>
                            </div>
                            <a href="#modal-03" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">List in C#</h3>
                                        <span class="folio-types">
                                            Education
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- /folio-item -->

                    <div class="bgrid folio-item">

                        <div style="margin-top:6px" class="item-wrap">

                            <iframe src="http://www.slideshare.net/slideshow/embed_code/key/leWP5dio42ibVT" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                            <div style="margin-bottom:6px">
                                <strong> <a href="#modal-04" title="Basic Sorting algorithms csharp" target="_blank">Basic Sorting algorithms csharp</a> </strong> from <strong><a href="https://www.slideshare.net/MichealOgundero" target="_blank">Micheal Ogundero</a></strong>
                            </div>
                        </div>
                        <a href="#modal-04" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Basic Sorting Algorithms in C#</h3>
                                    <span class="folio-types">
                                        Education
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <!-- modal popups - begin
                ============================================================= -->
                <!--<div id="modal-01" class="popup-modal slider mfp-hide">

                    <div class="media">
                        <img src="images/portfolio/cervitech_logo.jpg" alt="" />
                    </div>

                    <div class="description-box">
                        <h4>CerviTech</h4>
                        <p aliign="justify">
                            CerviTech is a neck posture monitoring mobile application. It helps phone addicts to properly postion their phones
                            while using it by sending warning push notifications whenever it is wrongly positioned for some minutes.
                            It also gives daily, weekly and monthly anlayis of how the user is adapting to the proper positioning of the neck angle.
                        </p>
                        <p>
                            <i>
                                &quot; I spearheaded a team of 6 software developers that developed the appliaction and largely contributed to
                                building the content management system / reports analytics. I also wrote endpoints consumed on the mobile app &quot;.
                            </i>
                        </p>

                        <div class="categories">Backend Software Development</div>
                    </div>

                    <div class="link-box">
                        <a href="#">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div>-->
                <!-- /modal-01 -->
                @*<div id="modal-02" class="popup-modal slider mfp-hide">

                        <div class="media">
                            <img src="images/portfolio/cervitech_logo.jpg" alt="" />
                        </div>

                        <div class="description-box">
                            <h4>CerviTech</h4>
                            <p aliign="justify">
                                CerviTech is a neck posture monitoring mobile application. It helps phone addicts to properly postion their phones
                                while using it by sending warning push notifications whenever it is wrongly positioned for some minutes.
                                It also gives daily, weekly and monthly anlayis of how the user is adapting to the proper positioning of the neck angle.
                            </p>
                            <p>
                                <i>
                                    &quot; I spearheaded a team of 6 software developers that developed the appliaction and largely contributed to
                                    building the content management system / reports analytics. I also wrote endpoints consumed on the mobile app &quot;.
                                </i>
                            </p>

                            <div class="categories">Backend Software Development</div>
                        </div>

                        <div class="link-box">
                            <a href="#">Details</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div>*@
                @*/modal-02*@

                <div id="modal-03" class="popup-modal slider mfp-hide">

                    <div class="media">
                        <iframe src="http://www.slideshare.net/slideshow/embed_code/key/sKGWt7kDxl9vjf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                    </div>

                    <div class="description-box">
                        <h4>C# List</h4>
                        <p>perform add, addrange, insert, insertrange, create, remove and other operations on a list</p>

                        <div class="categories">Education</div>
                    </div>

                    <div class="link-box">
                        <a href="#">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div> <!-- /modal-03 -->

                <div id="modal-04" class="popup-modal slider mfp-hide">

                    <div class="media">
                        <iframe src="http://www.slideshare.net/slideshow/embed_code/key/leWP5dio42ibVT" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/MichealOgundero/basic-sorting-algorithms-csharp" title="Basic Sorting algorithms csharp" target="_blank">Basic Sorting algorithms csharp</a> </strong> from <strong><a href="https://www.slideshare.net/MichealOgundero" target="_blank">Micheal Ogundero</a></strong> </div>
                    </div>

                    <div class="description-box">
                        <h4>C# List</h4>
                        <p>
                            This slide explains three (3) basic sorting algorithms with codes on github. Bubble sort, Selection sort and insertion sort. visit https://github.com/EngrMikolo/BasicSortingAlgorithms to checkout the codes
                        </p>

                        <div class="categories">Education</div>
                    </div>

                    <div class="link-box">
                        <a href="#">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div> <!-- /modal-04 -->


            </div> <!-- /portfolio-wrapper -->

        </div>  <!-- /twelve -->
        <!-- /portfolio-content -->

    </section> <!-- /portfolio -->
    <!-- CTA Section
    ================================================== -->
    @*<section id="cta" class="grey-section">

            <div class="row cta-content">

                <div class="col-twelve section-ads">

                    <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

                    <p class="lead">
                        Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
                        Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
                        <!-- Simply type    the promocode in the box labeled “Promo Code” when placing your order. -->
                    </p>

                    <div class="action">
                        <a class="button button-primary large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
                    </div>

                </div>

            </div> <!-- /cta-content -->

        </section> <!-- /cta -->*@
    <!-- services Section
    ================================================== -->
    <section id="services">

        <div class="overlay"></div>

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Services</h5>
                <h1>What Can I Do For You?</h1>

                <p class="lead">My services range from software development to muiscal trainings invloving piano, violin and music theory</p>

            </div>
        </div> <!-- /section-intro -->

        <div class="row services-content">

            <div id="owl-slider" class="owl-carousel services-list">

                <div class="service">

                    <span class="icon"><i class="icon-earth"></i></span>

                    <div class="service-content">

                        <h3> Software Development</h3>

                        <p class="desc">
                            &bull; Website Development<br>
                            &bull; Mobile Applications Design (Android and IOS)<br>
                            &bull; Solid back-end services and databases<br>
                        </p>

                    </div>

                </div> <!-- /service -->

                <div class="service">

                    <span class="icon"><i class="icon-window"></i></span>

                    <div class="service-content">

                        <h3>Private Programming Tutorial</h3>

                        <p class="desc">
                            &bull; Teaching and walking people through the learning process till they attain a high proficiency level in C#, Java, Python, Javascript, Mathematics, Matlab, etc.<br>
                        </p>

                    </div>

                </div> <!-- /service -->

                <div class="service">

                    <span class="icon"><i class="icon-image"></i></span>

                    <div class="service-content">

                        <h3>Piano / Music Training</h3>

                        <p class="desc">
                            &bull; Piano Lessons<br>
                            &bull; Violin Lessons<br>
                            &bull; Music Theory<br>
                            &bull; Coaching candidates for ABRSM-graded exams<br>
                        </p>

                    </div>

                </div> <!-- /service -->
                @*<div class="service">

                        <span class="icon"><i class="icon-toggles"></i></span>

                        <div class="service-content">

                            <h3>Choir Trainings and Seminars</h3>

                            <p class="desc">
                                I train choirs and organize musical seminars that can help bring about excellent musicianship skills.
                            </p>

                        </div>

                    </div>*@ <!-- /service -->
                @*<div class="service">

                        <span class="icon"><i class="icon-chat"></i></span>

                        <div class="service-content">

                            <h3>Piano and Violin Training</h3>

                            <p class="desc">
                               I teach kids violin and piano. Home lesson available.
                            </p>

                        </div>

                    </div>*@ <!-- /service -->

            </div> <!-- /services-list -->

        </div> <!-- /services-content -->

    </section> <!-- /services -->
    <!-- stats Section
    ================================================== -->
    <section id="stats" class="count-up">

        <div class="row">
            <div class="col-twelve">

                <div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

                    @*<div class="bgrid stat">

                            <div class="icon-part">
                                <i class="icon-pencil-ruler"></i>
                            </div>

                            <h3 class="stat-count">
                                1500
                            </h3>

                            <h5 class="stat-title">
                                Projects Completed
                            </h5>

                        </div> <!-- /stat -->

                        <div class="bgrid stat">

                            <div class="icon-part">
                                <i class="icon-users"></i>
                            </div>

                            <h3 class="stat-count">
                                900
                            </h3>

                            <h5 class="stat-title">
                                Happy Clients
                            </h5>

                        </div> <!-- /stat -->

                        <div class="bgrid stat">

                            <div class="icon-part">
                                <i class="icon-badge"></i>
                            </div>

                            <h3 class="stat-count">
                                200
                            </h3>

                            <h5 class="stat-title">
                                Awards Received
                            </h5>

                        </div> <!-- /stat -->

                        <div class="bgrid stat">

                            <div class="icon-part">
                                <i class="icon-light-bulb"></i>
                            </div>

                            <h3 class="stat-count">
                                120
                            </h3>

                            <h5 class="stat-title">
                                Crazy Ideas
                            </h5>

                        </div> <!-- /stat -->

                        <div class="bgrid stat">

                            <div class="icon-part">
                                <i class="icon-cup"></i>
                            </div>

                            <h3 class="stat-count">
                                1500
                            </h3>

                            <h5 class="stat-title">
                                Coffee Cups
                            </h5>

                        </div> <!-- /stat -->

                        <div class="bgrid stat">

                            <div class="icon-part">
                                <i class="icon-clock"></i>
                            </div>

                            <h3 class="stat-count">
                                7200
                            </h3>

                            <h5 class="stat-title">
                                Hours
                            </h5>

                        </div>*@ <!-- /stat -->

                </div> <!-- /stats-list -->

            </div> <!-- /twelve -->
        </div> <!-- /row -->

    </section> <!-- /stats -->
    <!-- contact
    ================================================== -->
    <section id="contact">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Contact</h5>
                <h1>I'd Love To Hear From You.</h1>

                <p class="lead"></p>

            </div>
        </div> <!-- /section-intro -->

        <div class="row contact-form">

            <div class="col-twelve">

                <!-- form -->
                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>

                        <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                        </div>
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                        </div>
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                        </div>
                        <div class="form-field">
                            <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
                        </div>
                        <div class="form-field">
                            <button class="submitform" id="btnSubmitForm">Submit</button>
                            <div id="submit-loader">
                                <div class="text-loader">Sending...</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form> <!-- Form End -->
                <!-- contact-warning -->
                <div id="message-warning">
                </div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                </div>

            </div> <!-- /col-twelve -->

        </div> <!-- /contact-form -->

        <div class="row contact-info">

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="icon-pin"></i>
                </div>

                <h5>Where to find me</h5>

                <p>
                    Lagos, Nigeria.
                </p>

            </div>

            <div class="col-four tab-full collapse">

                <div class="icon">
                    <i class="icon-mail"></i>
                </div>

                <h5>Email Me At</h5>

                <p>
                    <a href="mailto:ogunderoayodeji@gmail.com" style="color: #6e6e6e;">ogunderoayodeji@gmail.com </a><br>
                    <a href="mailto:ogunderomicheal@yahoo.com" style="color: #6e6e6e;">ogunderomicheal@yahoo.com</a><br />
                    @*<a href="mailto:mogundero@unilag.edu.ng">mogundero@unilag.edu.ng</a><br />*@
                </p>

            </div>

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="icon-phone"></i>
                </div>

                <h5>Call Me On</h5>

                <p>
                    <a href="tel:+234-808-736-5099" style="color: #6e6e6e;"><i class="fa-brands fa-whatsapp"></i> (+234) 808 736 5099 </a><br>
                    <a href="tel:+234-810-935-7930" style="color: #6e6e6e;">Mobile: (+234) 810 935 7930</a><br>
                </p>

            </div>

        </div> <!-- /contact-info -->

    </section> <!-- /contact -->
    <!-- footer
    ================================================== -->
    <!-- Java Script
    ================================================== -->



</body>




<script>

    $('#contactForm').submit(function (e) {
        e.preventDefault();
        var data = {
            name: $('#contactName').val(),
            email: $('#contactEmail').val(),
            subject: $('#contactSubject').val(),
            message: $('#contactMessage').val()
        }


        var sLoader = $('#submit-loader');
        console.log("in contact form");

        $.ajax({
            type: "POST",
            url: "/Home/SendEmail",
            data: data,
            beforeSend: function () {

                sLoader.fadeIn();

            },
            success: function (data) {
                console.log(data);
                if (data.message == 'Successful') {
                    sLoader.fadeOut();
                    $('#message-warning').hide();
                    $('#contactForm').fadeOut();
                    $('#message-success').fadeIn();
                }
                else {
                    sLoader.fadeOut();
                    $('#message-warning').html("Something went wrong. Please try again!!.");
                    $('#message-warning').fadeIn();
                }

            },
            error: function () {

                sLoader.fadeOut();
                $('#message-warning').html("Something went wrong. Please try again!!!.");
                $('#message-warning').fadeIn();

            }
        });


    })

</script>
